body
{
    background-image: url('tlo.jpg');

}
b
{

    color: rgb(0, 0, 255); 
    font-size: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    margin: 100px;
    
}
h1
{
    color: rgb(0, 0, 255);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
    margin: 100px;
}

img
{
    width: 400px; 
    height: 700px; 
    margin: 100px;
}    
